<section class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <img class="img" src="../../assets/evento-verano/derecto-footer.png" alt="">
            </div>

            <div class="col-md-4">
                <div class="social">
                   <a href="https://www.facebook.com/CervezaVictoriaFrost" target="_blank">
                    <img src="../../assets/evento-verano/icon-facebook.png" alt="">
                   </a>
                   <a href="https://twitter.com/victoriafrost?lang=es" target="_blank">
                    <img src="../../assets/evento-verano/icon-twitter.png" alt="">
                   </a>
                   <a href="https://www.instagram.com/cervezavictoriafrost/?hl=es" target="_blank">
                    <img src="../../assets/evento-verano/icon-instagram.png" alt="">
                   </a>
                    
                </div>
            </div>

        </div>
    </div>
</section>
