
<div class="center"> <i class='bntn-close float-right pointer' (click)="closeModal()"></i> </div>
<div class="modal-content">
    <img *ngIf="data.id==1" class="modal-img pointer" src="../../../assets/evento-verano/modal1.jpg">
    <img *ngIf="data.id==2" class="modal-img pointer" src="../../../assets/evento-verano/modal2.jpg">
    <img *ngIf="data.id==3" class="modal-img pointer" src="../../../assets/evento-verano/modal3.jpg">
    <img *ngIf="data.id==4" class="modal-img pointer" src="../../../assets/evento-verano/modal4.jpg">
    <img *ngIf="data.id==5" class="modal-img pointer" src="../../../assets/evento-verano/modal6.jpg">




        <img *ngIf="data.id==6"  class="modal-img pointer" src="../../assets/evento-verano/baner-promocion-2.jpg">
  

    <!-- <img *ngIf="data.id==6" class="modal-img pointer" src="../../assets/evento-verano/baner-promocion-2.jpg"> -->
</div>      


