
<div class="center"> <i class='bntn-close float-right pointer' (click)="closeModal()"></i> </div>
<div class="modal-content">
    <img *ngIf="data.id==2" class="modal-img pointer" src="../../../assets/evento-verano/modal2.png">
    <img *ngIf="data.id==3" class="modal-img pointer" src="../../../assets/evento-verano/modal3.png">
    <img *ngIf="data.id==4" class="modal-img pointer" src="../../../assets/evento-verano/modal4.png">
    <img *ngIf="data.id==5" class="modal-img pointer" src="../../../assets/evento-verano/modal5.png">
</div>      


