

<app-navbar></app-navbar>


<main>

<section class="evento-main">
  
    <div class="container flex">
        <div class="row row-width">
            <div class="col-md-4">
                <img class="pelca-blue" src="../../assets/evento-verano/font-pelca.png" alt="">
                <img class="pelca-blue" src="../../assets/evento-verano/imagen_prodcuto.png" alt="">
            </div>
           
           
            <div class="col-md-8">
                <img class="pelca-hoja1" src="../../assets/evento-verano/hoja1.png" alt="">
                <img class="pelca-hoja2" src="../../assets/evento-verano/hoja2.png" alt="">
              
                <div class="box">

           
                <div class="title center">
                    <br>
                    <img class="show-mobile" src="../../assets/evento-verano/imagen_producto_mobile.png" alt="">
                    <img class="img-title" src="../../assets/evento-verano/titular.png" alt="">
                    <br><br>
                </div>
          

                <div class="row">
                    <div class="col-md-6">
                        <div class="event-title">Del jueves 14 al domingo 17 de abril</div>
                        <div class="event-container pointer" (click)="openModal(1)">
                            <img class="event-img" src="../../assets/evento-verano/oasis.png" alt="">

                            <div class="evento-desctription">
                                <div class="centrar">
                                    <div class="texto">Oasis</div>
                                </div>
                            </div>

                            <div class="event-location">
                                <div class="txt center"> 
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> 
                                    Locación: San Juan del Sur
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="event-title">15 de abril </div>
                        <div class="event-container pointer" (click)="openModal(2)">
                            <img class="event-img" src="../../assets/evento-verano/summer_fest.png" alt="">
                            
                            <div class="evento-desctription">
                                <div class="centrar">
                                    <div class="texto">Summer Fest con Boza</div>
                                </div>
                            </div>

                            <div class="event-location">
                                <div class="txt center"> 
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> 
                                    Locación: San Juan del Sur
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="event-title">Jueves 14, viernes 15 y sábado 16</div>
                        <div class="event-container pointer" (click)="openModal(3)">
                            <img class="event-img" src="../../assets/evento-verano/mega_barra.png" alt="">
                           
                            <div class="evento-desctription">
                                <div class="centrar">
                                    <div class="texto">La Mega Barra</div>
                                </div>
                            </div>

                            <div class="event-location">
                                <div class="txt center"> 
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> 
                                    Locación: Poneloya
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="event-title">Del jueves 14 al sábado 16 de abril</div>
                        <div class="event-container pointer" (click)="openModal(4)">
                            <img class="event-img" src="../../assets/evento-verano/summer_land.png" alt="">
                           
                            <div class="evento-desctription">
                                <div class="centrar">
                                    <div class="texto">Summerland</div>
                                </div>
                            </div>

                            <div class="event-location">
                                <div class="txt center"> 
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> 
                                    Locación: Montelimar
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="event-title">Durante todo el verano</div>
                        <div class="event-container pointer" (click)="openModal(5)">
                            <img class="event-img" src="../../assets/evento-verano/presentacion_especial.png" alt="">
                         
                            <div class="evento-desctription">
                                <div class="centrar">
                                    <div class="texto center">Promociones y presentaciones especiales </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="event-title">Durante todo el verano</div>
                        <div class="event-container pointer" (click)="openModal(6)">
                            <img class="event-img" src="../../assets/evento-verano/tuanis.png" alt="">
                         
                            <div class="evento-desctription">
                                <div class="centrar">
                                    <div class="texto center">Tuani’s</div>
                                </div>
                            </div>

                            <div class="event-location">
                                <div class="txt center"> 
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> 
                                    Locación: San Juan del Sur
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
              </div>
<br><br>
            </div>
       
        </div>
    </div>
        
    

</section>

</main>
 


<app-footer></app-footer>
